<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Recipe_app</a>
    <%= link_to '新規登録', new_user_registration_path%>
    <%= link_to 'ログイン', new_user_session_path%>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <%= link_to 'マイページ', user_path(current_user.id)%>
  </div>
</nav>

<div class ="recipe-index-container">
  <div class ="recipe-index-left">
  <% if user_signed_in? %>
<%= link_to 'レシピを投稿する', new_recipe_path%>
<% end %>
  </div>
  <div class ="recipe-index-center">
    <% @recipes.each do |recipe| %>
    <div class ="recipe-box">
      <div class ="recipe-box-left">
        <% if recipe.image.attached? %>
        <%= image_tag recipe.image, class:"recipe-image" %>
        <% else %>
          <%= image_tag 'test_image.png', class:"recipe-image" %>
        <% end %>
      </div><!--recipe-box-left-->
      <div class ="recipe-box-right">
        <div class ="recipe-title text-truncate">
          <%= link_to recipe.title, recipe_path(recipe) %>
        </div>
        <p>by <%= link_to recipe.user.name, "#", class: "text-truncate" %></p>
        <div class ="recipe-method text-truncate">
          <span class ="bold">作り方：</span><%= recipe.descriptions.map { |description| description.text }.join(', ') %>
        </div>
        <div class ="recipe-ingredients text-truncate">
          <span class ="bold">材料　：</span><%= recipe.ingredients.map { |ingredient| ingredient.name }.join(', ') %>
        </div>
      </div> <!--recipe-box-right-->
    </div> <!--recipe-box-->
    <% end %>
  </div>
  <div class ="recipe-index-right">
  </div>
</div>