<!--詳細画面を表示する-->
<div class ="recipe-container"><!--大枠-->
  <div class ="recipe-left"></div><!--左側の余白（メニューバーなど実装する予定）-->

  <div class ="recipe-center"><!--レシピの詳細が表示されるメインのエリア-->
    <div class ="recipe-top">
      <div class ="recipe-top-left"><!--画像-->
        <% if @recipe.image.attached? %>
        <%= image_tag @recipe.image, class:"show-recipe-image" %>
        <% else %>
          <%= image_tag 'test_image.png', class:"recipe-image" %>
        <% end %>
      </div><!--recipe-top-left-->
      <div class ="recipe-top-right">
        <div class ="recipe-title"><!--レシピのタイトル-->
          <%= @recipe.title %>
          <% if user_signed_in? %>
          <%= link_to 'お気に入り登録', favorites_path(@recipe), method: :post%>
          <% end %>
          <div class ="button-wrapper">
            <% if user_signed_in? && @recipe.user_id == current_user.id %>
            <%= button_to '編集', edit_recipe_path, method: :get, class: "recipe-edit"%>
            <%= button_to "削除", "/recipes/#{@recipe.id}", method: :delete, class: "recipe-destroy", data: { confirm: '本当に削除しますか？' } %>
            <% end %>
              <% if user_signed_in?%>
              <div class ="add-menu-container">
                <div id ="pull-down">献立追加</div>
                <div id ="calender-selection">
                  <%= form_with model: @menu,url: recipe_menus_path(@recipe), method: :post, local: true do |f|%>
                  <%= f.date_field :date, class:"date-form" %>
                  <p><%= f.submit "追加する",class: "btn btn-primary" %></p>
                  <% end %><!--kondate-form-->
                </div><!--calender-selection-->
              </div><!--add-menu-container-->
              <% end %><!--if-->
          </div><!--button-wrapper-->
        </div><!--recipe-title-->
        <div class ="recipe-user"><!--レシピのユーザー-->
          <%= link_to @recipe.user.name, "/users/#{@recipe.user.id}" %>
        </div><!--recipe-user-->
        <div class ="recipe-ingredients"><!--レシピの材料-->
        <!--材料と分量をグラフにして取り出す-->
          <table class="table">
            <thead>
              <tr><th>材料名</th><th>分量</th></tr>
            </thead>
            <tbody>
              <% @recipe.ingredients.each do |ingredient| %>
                <tr><td><%= ingredient.name %></td><td><%= ingredient.quantity %></td></tr>
              <% end %>
            </tbody>
          </table>
        </div><!--recipe-ingredients-->
      </div><!--recipe-top-right-->
    </div><!--recipe-top-->
    <div class ="recipe-middle">
      <div class ="recipe-method">
        <span class ="bold">作り方：</span><%= @recipe.descriptions.map { |description| description.text }.join(', ') %>
      </div><!--recipe-method-->
    </div><!--recipe-middle-->
    <div class ="recipe-bottom">
    <h1>コメント一覧</h1>
    <% if user_signed_in? %>
      <%= form_with model: @comment,url: recipe_comments_path(@recipe), method: :post, local: true do |f|%>
      <%= f.text_area :content, class:"comment-content" %>
      <p><%= f.submit "コメントする",class: "btn btn-primary" %></p>
      <% end %><!--comment-form-->
    <% end %>
    <% @recipe.comments.order("created_at DESC").each do |comment| %>
      <div class ="comment-container">
        <div class ="comment-user">
          <%= link_to comment.user.name, "/users/#{comment.user.id}" %>
        </div><!--comment-user-->
        <div class ="comment-content">
          <%= comment.content %>
          <% if current_user == comment.user %>
          <%= link_to "削除", "/recipes/#{@recipe.id}/comments/#{comment.id}", method: :delete%>
          <% end %>
        </div><!--comment-content-->
      </div><!--comment-container-->
    <% end %>
    </div><!--recipe-bottom-->
  </div><!--recipe-center-->

  <div class ="recipe-right"></div>
</div><!--recipe-container-->