<div class ="mypage-container">
<div class="notifications">
        <% flash.each do |key, value| %> 
        <%= content_tag(:div, value, class: key + "-message")%>
      <% end %>
    </div>
  <div class ="mypage-top">
    <div class ="profile-container">
      <div class ="profile-container-left">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class:"user-image" %>
        <% else %>
          <%= image_tag 'login_user.png', class:"user-image" %>
        <% end %>
      </div>
      <div class ="profile-container-right">
        <div class ="profile-name">
          <%= @user.name %>
        </div>
        <div class ="profile-follow-box">
          <div class ="profile-introduction">
            <%= @user&.profile %>
          </div>
          <% if user_signed_in? %>
            <% if current_user != @user %><!--もしもcurrent_userが@userじゃなかったら-->
            <div class ="send-follow">
              <% if current_user.following?(@user) %><!--もしもフォローしてたら↓-->
                <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class:"follow-button-font" %>
              <% else %><!--もしもフォローしてなかったら↓-->
                <%= link_to 'フォローする', "/users/#{@user.id}/relationships", method: :post, class:"follow-button-font" %>
              <% end %>
            </div>
            <% end %>
          <% end %>
        </div>
        <div class ="follow-follower">
          <%= link_to follows_user_path(@user), class:"no-underline" do %>
            <h6>フォロー<%= @following_users.count %></h6>
          <% end %>
          <%= link_to followers_user_path(@user), class:"no-underline" do %>
            <h6>フォロワー<%= @follower_users.count %></h6>
          <% end %>
        </div>
        <div class ="edit-profile">
          <% if current_user == @user%>
          <%= link_to 'プロフィール編集', edit_user_path(@user), class:"no-underline" %>
          <% end %>
        </div>
      </div><!--profile-container-right-->
    </div><!--profile-container-left-->
  </div><!--mypage-top-->
  <div class ="mypage-middle">
  <% if current_user == User.find(params[:id])%>
  <h3 class ="mypage-title">献立表</h3>
  <%= render "calendar" %>
  <% end %><!--献立表の表示領域if分-->
    <div class ="my-recipes">
      <h3 class ="mypage-title">作ったレシピ</h3>
      <% @recipes.each do |recipe| %>
      <div class ="recipe-box">
        <div class ="recipe-box-left">
          <% if recipe.image.attached? %>
          <%= image_tag recipe.image, class:"recipe-image" %>
          <% else %>
            <%= image_tag 'test_image.png', class:"recipe-image" %>
          <% end %>
        </div>
        <div class ="recipe-box-right">
          <div class ="recipe-title text-truncate">
            <%= link_to recipe.title, recipe_path(recipe) %>
          </div>
          <p>by <%= link_to recipe.user.name, user_path(recipe.user, beginning_of_week: Date.today.beginning_of_week), class: "text-truncate" %></p>
          <div class ="user-recipe-method text-truncate">
            <span class ="bold">作り方：</span><%= recipe.descriptions.map { |description| description.text }.join(', ') %>
          </div>
          <div class ="user-recipe-ingredients text-truncate">
            <span class ="bold">材料　：</span><%= recipe.ingredients.map { |ingredient| ingredient.name }.join(', ') %>
          </div>
        </div>
      </div>
      <% end %>
    </div><!--my-recipes-->
  </div><!--mypage-middle-->
  <div class ="mypage-bottom">
  </div>
</div>