<h1>マイページ</h1>
<div class ="mypage-container">
<div class="notifications">
        <% flash.each do |key, value| %> 
        <%= content_tag(:div, value, class: key)%>
      <% end %>
    </div>
  <div class ="mypage-top">
    <div class ="my-image">
      <%= image_tag 'test_image.png', class:"recipe-image" %>
    </div>
    <div class ="profile-container">
      <div class ="profile-name">
        <span class ="bold">名前</span>：<%= @user.name %>
        <% if user_signed_in? %>
        <% if current_user != @user %><!--もしもcurrent_userが@userじゃなかったら-->
        <% if current_user.following?(@user) %><!--もしもフォローしてたら↓-->
        <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete %>
        <% else %><!--もしもフォローしてなかったら↓-->
        <%= link_to 'フォローする', "/users/#{@user.id}/relationships", method: :post %>
        <% end %>
        <% else %><!--もしもcurrent_user == @userだったら-->
          <%= link_to follows_user_path(@user) do %>
          <h6>フォロー<%= @following_users.count %></h6>
          <% end %>
          <%= link_to followers_user_path(@user) do %>
          <h6>フォロワー<%= @follower_users.count %></h6>
          <% end %>
        <% end %>
        <% end %>
      </div>
      <div class ="profile-introduction">
        <span class ="bold">自己紹介</span>：日本に住んでます。よろしくお願いします。
      </div>
    </div>
  </div><!--mypage-top-->
  <div class ="mypage-middle">
  <% if current_user == User.find(params[:id])%>
  <h1>献立表</h1>
    <div class='calendar'>
      <% @week_days.each do |day| %>
        <div class='item'>
          <div class='date'>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday]%>
          </div>
          <div class ="menu-container">
            <ul class ="menu-list">
            <% day[:menu].each do |x|%>
              <li>
                <%= link_to x.title, recipe_path(x) %>
                <%= link_to "追加", create_list_path(x), method: :post %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div><!--calender-->
  <% end %><!--献立表の表示領域if分-->
    <div class ="my-recipes">
      <h2>作ったレシピ</h2>
      <% @recipes.each do |recipe| %>
      <div class ="recipe-box">
        <div class ="recipe-box-left">
          <% if recipe.image.attached? %>
          <%= image_tag recipe.image, class:"recipe-image" %>
          <% else %>
            <%= image_tag 'test_image.png', class:"recipe-image" %>
          <% end %>
        </div>
        <div class ="recipe-box-right">
          <div class ="recipe-title text-truncate">
            <%= link_to recipe.title, recipe_path(recipe) %>
          </div>
          <p>by <%= link_to recipe.user.name, user_path(recipe.user), class: "text-truncate" %></p>
          <div class ="recipe-method text-truncate">
            <span class ="bold">作り方：</span><%= recipe.descriptions.map { |description| description.text }.join(', ') %>
          </div>
          <div class ="recipe-ingredients text-truncate">
            <span class ="bold">材料　：</span><%= recipe.ingredients.map { |ingredient| ingredient.name }.join(', ') %>
          </div>
        </div>
      </div>
      <% end %>
    </div><!--my-recipes-->
    <% if current_user == @user%>
    <div class ="favorite-recipe">
      <h2>お気に入りレシピ</h2>
      <% @favorite_recipes.each do |recipe|%>
        <div class ="recipe-box">
        <div class ="recipe-box-left">
          <% if recipe.image.attached? %>
          <%= image_tag recipe.image, class:"recipe-image" %>
          <% else %>
            <%= image_tag 'test_image.png', class:"recipe-image" %>
          <% end %>
        </div>
        <div class ="recipe-box-right">
          <div class ="recipe-title text-truncate">
            <%= link_to recipe.title, recipe_path(recipe) %>
            <%= link_to '削除', favorite_path(recipe), method: :delete %>
          </div>
          <p>by <%= link_to recipe.user.name, user_path(recipe.user), class: "text-truncate" %></p>
          <div class ="recipe-method text-truncate">
            <span class ="bold">作り方：</span><%= recipe.descriptions.map { |description| description.text }.join(', ') %>
          </div>
          <div class ="recipe-ingredients text-truncate">
            <span class ="bold">材料　：</span><%= recipe.ingredients.map { |ingredient| ingredient.name }.join(', ') %>
          </div>
        </div>
      </div>
      <% end %>
    <div><!--favorite-recipe-->
    <% end %>
  </div><!--mypage-middle-->
  <div class ="mypage-bottom">
  </div>
</div>