<body>
  <div class ="main">
    <div class ="card shadow">
      <div class ="card-header">
        <h1>Login</h1>
      </div>
      <div class ="card-body">
        <%= form_with model: @user, url: user_session_path, mehod: :post, class: 'registration-main', local: true do |f| %>
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
          <div class ="form-main login">
            <%= f.label :email %><br \>
            <%= f.email_field :email, class: "form-control" %>
          </div><!--form-main-->
          <div class ="form-main login">
            <%= f.label :password %><br \>
            <%= f.password_field :password, class: "form-control" %>
          </div><!--form-main-->
          <div class ="form-main">
            <div class ="form-submit">
            <%= f.submit "ログイン",class: "btn btn-primary" %>
            </div>
          <% end %>
      </div>
    </div> <!--card-->
  </div> <!--main-->
</body>