<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <!-- ナビゲーションバー -->
  <nav class="navbar navbar-light fixed-top">
    <!-- タイトル -->
    <a class="navbar-brand" href="/">Recipe_app</a>
    <div class ="text-right">
    <% if user_signed_in? %>
    <div class="header-shopping-list">
      <%= link_to image_tag('cart_icon_160296.png', class: "cart-image") + " 買い物リスト", lists_path, class: "shopping-list-a" %>
    </div>
    <div class ="header-myfolder">
      <%= link_to image_tag('recipe_book.png', class: "recipe-book-image") + ' マイフォルダ', favorites_path, class: "myfolder-a" %>
    </div>
    <div class ="new-recipe-box">
    <%= link_to 'レシピを投稿する', new_recipe_path, class: "new-recipe-box-a" %>
    </div>
    <div class ="header-user-image">
      <% if current_user.image.attached? %>
        <%= link_to image_tag(current_user.image, class: "header-mypage"), user_path(current_user, beginning_of_week: Date.today.beginning_of_week) %>
      <% else %>
        <%= link_to image_tag('login_user.png', class: "header-mypage"), user_path(current_user, beginning_of_week: Date.today.beginning_of_week) %>
      <% end %>
    </div>
    <% end %>
<!-- ハンバーガーメニュー -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <!-- ナビゲーションメニュー -->
    <div class="collapse navbar-collapse" id="navbarNav">
    <div class = "card-container-body">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "without-border" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "without-border" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "without-border" %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
